*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --content-bg: #E2E8F0;
  --main-text: #333333;
  --sidebar-bg: #1992d4;
  --sidebar-text: #ffffff;
  --sidebar-text-hover: #29a2f4;
  --header-bg: #ffffff;
  font-family: "Roboto", sans-serif;
}

li {
  cursor: pointer;
}

img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  cursor: pointer;
}

/* MAIN */

.main {
  width: clamp(1000px, 100%, 2000px);
  height: min(100vh);
  margin: 0 auto;
  box-shadow: 0px 0px 4px 1px black;
  display: grid;
  grid-template: auto auto auto / 1fr 16fr 1fr;
}

.sidebar.left, .sidebar.right {
  grid-row: 1 / 4;
  background-color: var(--sidebar-bg);
}

.sidebar.left{
  grid-column: 1 / 2;
}

.sidebar.right{
  grid-column: 3 / 4;
}

.header {
  background-color: var(--header-bg);
  padding: 0 2rem;
  grid-column: 2 / 3;
  display: grid;
  gap: 0 1rem;
  grid-template: 1fr 1fr / 1fr 1fr;
  align-items: center;
  > div, label {
    display: flex;
    gap: 1rem;
  }
}

.header .search {
  > input {
    flex: 1;
    border-radius: 1rem;
    padding: 0 1rem;
    background-color: var(--content-bg);
    border: none;
    max-width: 300px;
  }
}

.header .profile {
  justify-content: flex-end;
  align-items: center;
}

.header .welcome-msg {
  align-items: center;
}

.header .profile-buttons {
  justify-content: flex-end;
  > .button {
    background-color: var(--sidebar-bg);
    color: var(--sidebar-text);
    font-weight: bold;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
  }
}

.content {
  padding: 1rem 2rem;
  background-color: var(--content-bg);
  grid-column: 2 / 3;
  box-shadow: 0px 0px 4px 1px black inset;
  display: grid;
  gap: 1rem;
  grid-template-columns: auto 300px ;
  > .announcements:hover,
  .trending:hover,
  .project:hover {
    box-shadow: 0px 0px 4px 1px black;
    transition: box-shadow 1s;
  }
}

.content .projects {
  justify-self: stretch;
  padding: 1rem;
  grid-row: 1 / 3;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 400px;
  overflow: auto;
}

.project {
  background-color: var(--header-bg);
  border-radius: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content auto auto;
  gap: 1rem;
  align-items: start;
}

.project .svg-projects {
  display: flex;
  justify-self: end;
  align-self: end;
}

.side-content {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: clamp(0, auto, 50vh);
  gap: 1rem;
}


.side-content .announcements {
  padding: 1rem;
  border-radius: 1rem 0 0 1rem;
  background-color: var(--header-bg);
  grid: 1 / 2 / 2 / 3;
  overflow: auto;
  > h3 {
    margin-bottom: 1rem;
  }
}

.announ + .announ::before,
.trend + .trend::before {
  grid-column: 1 / -1;
  display: block;
  content: "";
  margin: 1rem 0;
  border: 1px solid var(--main-text);
}

.side-content .trending {
  background-color: var(--header-bg);
  padding: 1rem;
  border-radius: 1rem 0 0 1rem;
  overflow: auto;
}

.trending .trend {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: stretch;
  align-items: center;
  box-shadow: none;
}

svg {
  cursor: pointer;
}

.sidebar svg {
  width: 1rem;
  height: 1rem;
  fill: var(--sidebar-text);
}

.sidebar .logo svg {
  width: 2rem;
  height: 2rem;
}

.sidebar {
  background-color: var(--sidebar-bg);
  color: var(--sidebar-text);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar .logo {
  padding: 1rem;
  gap: 1rem;
  display: flex;
  cursor: pointer;
  &:hover {
    background-color: var(--sidebar-text-hover);
  }
}

.sidebar .nav-buttons ul,
.sidebar .setting-buttons ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.sidebar li {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  &:hover {
    background-color: var(--sidebar-text-hover);
  }
}

.header svg,
.content svg {
  width: 2rem;
  height: 2rem;
  fill: var(--main-text);
}

/* FOOTER */
.footer {
  padding: 10px;
  font-size: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-github {
  color: var(--main-text);
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}
