body {
    width: 80%;
    margin: auto;
    padding: 10px 20px;
    border: 0 solid black;
    border-radius: 20px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 1px 1px 10px #c2c2c2, -1px -1px 10px #ffffff;

}

div.flex-container {
    display: flex;
    flex-wrap: wrap;

    >* {
        flex: 1;
        justify-content: space-around;
        align-items: flex-start;
        margin-right: 1rem;
    }

    >.flex-heading {
        height: 60px;
        flex-grow: 0;
        flex-basis: 100%;
        margin: 0;
    }
}

.image {
    max-width: 500px;
    border-radius: 1rem;
}