@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #333;
    --text-color: #fff;
    --border-color: #fff;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff;
    --text-color: #000;
    --border-color: #000;
  }
}

:root {
  --box-size: 90px;
}

:root.dark {
  --bg-color: #333;
  --text-color: #fff;
  --border-color: #fff;
}

:root.light {
  --bg-color: #fff;
  --text-color: #000;
  --border-color: #000;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  background-color: var(--bg-color);
}

/*BUTTONS*/
button {
  /* border: none; */
}

/*HEADER*/

.header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.difficulty {
  grid-column: 1 / 4;
}

select {
  width: 100%;
  padding: 5px;
}

select:focus {
  outline: none;
}

.player-1-name,
.player-2-name {
  justify-self: center;
  font-size: 1.25rem;
  font-family: monospace;
  padding: 0.5rem 1rem;
}

.player-1-name {
  grid-column: 1 / 3;
}

.player-2-name {
  grid-column: 3 / 5;
}
.turn {
  border: 1px solid var(--text-color);
  border-bottom: 4px solid var(--text-color);
  border-radius: 0.5rem;
}

.score-board {
  grid-column: 1 / -1;
  display: flex;
}

.player-1-score,
.player-2-score {
  padding: 8px;
  font-size: 2rem;
  font-family: monospace;
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.player-1-score::after {
  content: "";
  width: 1rem;
  border: 2px solid var(--text-color);
  position: absolute;
  z-index: 1;
  top: calc(50% - 2px);
  right: -0.5rem;
}

.score-1,
.score-2 {
  padding: 0 1rem;
}

.player-1-mark,
.player-2-mark {
  width: var(--box-size);
  aspect-ratio: 1;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cross,
.nought {
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cross::after,
.cross::before {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: calc(var(--box-size) * 0.5);
  background-color: var(--text-color);
}

.cross::after {
  transform: rotate(45deg);
}
.cross::before {
  transform: rotate(-45deg);
}

.nought::after,
.nought::before {
  content: "";
  display: block;
  position: absolute;
  aspect-ratio: 1;
  border-radius: 50%;
}

.nought::before {
  width: calc(var(--box-size) * 0.5 - 10px);
  background-color: var(--bg-color);
  z-index: 1;
}

.nought::after {
  width: calc(var(--box-size) * 0.5);
  background-color: var(--text-color);
}

svg {
  width: 2rem;
  transition: transform 0.5s ease-in-out;
  fill: var(--text-color);
}

svg.active {
  transform: rotate(-360deg);
}

/*GAME*/

.game {
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.board {
  margin: 0 auto;
  padding: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.box {
  width: var(--box-size);
  aspect-ratio: 1;
  padding: 8px;
  border-right: 5px solid var(--text-color);
  border-bottom: 5px solid var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &.cross,
  &.nought {
    cursor: not-allowed;
  }
}

.box.no-right-border {
  border-right: none;
}
.box.no-bottom-border {
  border-bottom: none;
}

/*GAME OVER*/

.blur >:not(.game-over){
  filter: blur(10px);
}

.game-over {
  position: absolute;
  top: 30%;
  padding: 1rem;
  z-index: 1;
  font-size: 1.5rem;
  font-family: monospace;
  box-shadow: 0px 0px 4px var(--text-color);
}

/* RESTART */
.restart,
.play {
  padding: 8px 20px;
  margin-top: 8px;
  cursor: pointer;
}
.play{
  border: 2px inset var(--text-color);
}

/* FOOTER */
.footer {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-github {
  color: var(--text-color);
  font-size: 20px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}
