:root {
  --text-color: #ffffff;
  --white-filter: invert(100%) sepia(88%) saturate(0%) hue-rotate(104deg)
    brightness(105%) contrast(101%);
  --black-filter: invert(0%) sepia(98%) saturate(25%) hue-rotate(4deg)
    brightness(91%) contrast(100%);
  --theme-color: #dc4c3e;
  --theme-color-hover: #b03d32;
  --font-system: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
